<a href="https://colab.research.google.com/github/sinicshajan/PYTHONTASKS/blob/main/siniTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New section

Exercise 1: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary
Given:
showEmployee("Ben", 12000)
showEmployee("Jessa")
Expected output:
Name: Ben salary: 12000
Name: Jessa salary: 9000

In [ ]:
def show_employee(name, salary=9000):
    print("Name:", name, "salary:", salary)

show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
def outer(a, b):
    def addition(a, b):
        return a + b
    add = addition(a, b)
    return add + 5
result = outer(5, 10)
print(result)

20

Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 4: Lambda Function to Check if value is in a List

In [ ]:
arr=[1,2,3,4]
v=4
x=lambda arr,v: True if v in arr else False

if(x(arr,v)):
  print("Element is Present in the list")
else:
  print("Element is Not Present in the list")

Element is Present in the list

Exercise 5: Sort list of tuples with their sum

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]
print("The original list of tuple is ")
print(points)
print("\nThe answer is")
print(sorted(points, key = lambda x:x[0] + x[1]))

The original list of tuple is
[(1, 2), (5, 3), (0, 7), (3, 1)]

The answer is
[(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 : Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def even(x,y):
   result=[num for num in range(x,y+1) if all(int(digits)%2==0 for digits in str(num))]
   return result

result=even(1000,3000)
print(result)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]