<a href="https://colab.research.google.com/github/sinicshajan/PYTHONTASKS/blob/main/siniTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to sum all the items in a list.

In [ ]:
mylist=[5,2,3,1,5]
print("The given list is:")
print(mylist)
sum=0
for i in range(len(mylist)):
  sum=sum+mylist[i]
print("The sum of all elements:",sum)

The given list is:
[5, 2, 3, 1, 5]
The sum of all elements: 16

2. Write a Python program to get the largest number from a list.

using sort method

In [ ]:
mylist=[5,2,3,1,20]
print("The given list is:",mylist)
#print(mylist)
mylist.sort()
print("largest element in list is:",mylist[-1])

The given list is: [5, 2, 3, 1, 20]
largest element in list is: 20

usin max method

In [ ]:
mylist=[20,85,100]
print("The largest element in list is:",max(mylist))

The largest element in list is: 100

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:
def mywords(words):
    sum=0
    for i in mywords:
        if(len(i)>1) and (i[0]==i[-1]):
          sum=sum+1
    return sum
    print(mywords(['abc','xyz','aba','1221']))

4. Write a Python program to remove duplicates from a list.

In [ ]:
def duplicates(words):
 final=[]
 for i in words:
  if i not in final:
     final.append(i)
 return final
words=[2,2,3]
print(duplicates(words))

[2, 3]

5. Write a Python program to check if a list is empty or not.

In [ ]:
my_list = []
if my_list == []:
    print("The list is empty")

The list is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
SampleList= ['abc', 'xyz', 'aba', '1221']
days = filter(lambda day: day if len(day)>4 else '',SampleList)
for d in days:
    print(d)

7.Write a Python program to find the second largest number in a list.

In [ ]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
list2 = list(set(list1))
list2.sort()
print("Second largest element is:", list2[-2])

Second largest element is: 45

8. Write a Python program to reverse a list at a specific location.

In [ ]:
def reverse_list(lst):
    return lst[::-1]
my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print(reversed_list)

[5, 4, 3, 2, 1]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
test_list = [1, 4, 5, 4, 1]
print("The original list is : " + str(test_list))
reverse = test_list[::-1]
res = test_list == reverse
print("Is list Palindrome : " + str(res))

The original list is : [1, 4, 5, 4, 1]
Is list Palindrome : True

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

# union
print("Union :", A | B)

# intersection
print("Intersection :", A & B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
# Import the 'operator' module, which provides functions for common operations like sorting.
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1), reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:

d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
    if x in d:
        print('Key is present in the dictionary')
    else:
        print('Key is not present in the dictionary')
is_key_present(5)
is_key_present(9)

Key is present in the dictionary
Key is not present in the dictionary

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
def returnSum(myDict):

    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)

    return final
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

15.Write a Python program to sort a given dictionary by key.

In [ ]:
color_dict ={'a':3,'f':8,'b':9}


for key in sorted(color_dict):

    print("%s: %s" % (key, color_dict[key]))

a: 3
b: 9
f: 8

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
myStr="learnpython"
print("The input string is:",myStr)
myDict={}
for character in myStr:
    if character in myDict:
        myDict[character]+=1
    else:
        myDict[character]=1
print("The dictionary created from characters of the string is:")
print(myDict)

The input string is: learnpython
The dictionary created from characters of the string is:
{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [ ]:
my_dict ={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

print("Initial Dictionary:")
print(my_dict, "\n")

print("Dictionary with 3 highest values:")
print("Keys: Values")

x=list(my_dict.values())
d={}
x.sort(reverse=True)
x=x[:3]
for i in x:
    for j in my_dict.keys():
        if(my_dict[j]==i):
            print(str(j)+" : "+str(my_dict[j]))

Initial Dictionary:
{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

Dictionary with 3 highest values:
Keys: Values
item4 : 55
item1 : 45.5
item3 : 41.3